<h2><%= link_to flickr_item.title, user_flickr_item_path(params[:handle], flickr_item) %></h2>

<p class="meta">taken <%= time_ago_in_words(flickr_item.posted_at) %> ago</p>

<a data-flickr-embed="true" href="<%= flickr_item.flickr_url(flickr_item.owner_nsid, flickr_item.photo_id) %>">
	<img src="<%= flickr_item.direct_url(flickr_item.farm, flickr_item.server, flickr_item.photo_id, flickr_item.secret) %>" alt=<%= flickr_item.title %>>
</a>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<p><%= simple_format(flickr_item.description) %></p>

<p>	
	<% flickr_item.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{flickr_item.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<% if current_user && current_user.id == flickr_item.blog_item.user_id %>
<p><%= link_to 'Edit', edit_user_flickr_item_path(current_user, flickr_item), class: "action-link" %></p>
<% end %>
