<h2><%= flickr_item.title %></h2>

<a data-flickr-embed="true" href="https://www.flickr.com/photos/46626331@N07/<%= flickr_item.photo_id %>"><img src="https://farm9.staticflickr.com/8707/<%= flickr_item.photo_id %>_5908ab7d1d_k.jpg" alt=<%= flickr_item.title %>></a>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<p><%= flickr_item.description %></p>
