<h1><%= link_to @blog_user.handle, user_index_path(@blog_user.handle) %></h1>
<h2><%= @photo.title %></h2>

<p class="meta">taken <%= time_ago_in_words(@photo.posted_at) %> ago</p>

<a data-flickr-embed="true" href="<%= @photo.flickr_url(@photo.owner_nsid, @photo.photo_id) %>">
	<img src="<%= @photo.direct_url(@photo.farm, @photo.server, @photo.photo_id, @photo.secret) %>" alt=<%= @photo.title %>>
</a>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<p><%= simple_format(@photo.description) %></p>

<p>	
	<% @photo.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{@photo.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<%= render partial: 'shared/tweet', :locals => {item: @photo} %>

<% if current_user && current_user.id == @photo.blog_item.user_id %>
<p><%= link_to 'Edit', edit_user_flickr_item_path(current_user, @photo), class: "action-link" %></p>
<% end %>

<h3 class="comments">Comments</h3>

<%= render partial: 'shared/comment_form', :locals => {item: @photo} %>
<%= render partial: 'shared/comment', collection: @photo.blog_item.comments %>

<%= link_to "Back", :back %>