<h2><%= @photo.title %></h2>

<p class="meta">taken <%= time_ago_in_words(@photo.posted_at) %> ago</p>

<a data-flickr-embed="true" href="<%= @photo.flickr_url(@photo.owner_nsid, @photo.photo_id) %>">
	<img src="<%= @photo.direct_url(@photo.farm, @photo.server, @photo.photo_id, @photo.secret) %>" alt=<%= @photo.title %>>
</a>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<p><%= simple_format(@photo.description) %></p>

<p>	
	<% @photo.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{@photo.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @photo.title.blank? ? "Check out " : @photo.title %>" data-size="large" data-count="none" data-hashtags="happyblogging" data-dnt="true">Tweet</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<% if current_user && current_user.id == @photo.blog_item.user_id %>
<p><%= link_to 'Edit', edit_user_flickr_item_path(current_user, @photo), class: "action-link" %></p>
<% end %>

<h3 class="comments">Comments</h3>

<%= form_for [@photo, Comment.new] do |f| %>
	<% unless current_user %>
	  <%= f.label :author, "Your name" %><br/>
	  <%= f.text_field :author %>
	<% end %>
  <%= f.label :body, "New comment (Markdown supported)" %><br/>
  <%= f.text_area :body, class: "comments-body" %>
  <p><%= f.submit "Add comment", class: "button" %></p>
<% end %>

<%= render partial: 'shared/comment', collection: @photo.blog_item.comments %>

<%= link_to "Back", :back %>