<h2><%= link_to medium_item.title, user_medium_item_path(params[:handle], medium_item) %></h2>

<p class="meta">posted <%= time_ago_in_words(medium_item.created_at) %> ago</p>

<article>
<%= simple_format(truncate(medium_item.body, length: 350, separator: ' ')) %>
</article>

<p>	
	<% medium_item.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{medium_item.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<% if current_user && current_user.id == medium_item.blog_item.user_id %>
<p><%= link_to 'Edit', edit_user_medium_item_path(current_user, medium_item), class: "action-link" %></p>
<% end %>
