<h1><%= link_to @blog_user.handle, user_index_path(@blog_user.handle) %></h1>
<h2><%= @medium.title %></h2>

<p class="meta">posted <%= time_ago_in_words(@medium.created_at) %> ago</p>

<article>
	<%= simple_format(@medium.body) %>
</article>

<p>	
	<% @medium.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{@medium.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<%= render partial: 'shared/tweet', :locals => {item: @medium} %>

<% if current_user && current_user.id == @medium.blog_item.user_id %>
	<p><%= link_to 'Edit', edit_user_medium_item_path(current_user, @medium), class: 'action-link' %></p>
<% end %>

<%= link_to "Back", :back, class: 'action-link' %>

<h3 class="comments">Comments</h3>

<%= render partial: 'shared/comment_form', :locals => {item: @medium} %>
<%= render partial: 'shared/comment', collection: @medium.blog_item.comments %>