<h2><%= @medium.title %></h2>

<p class="meta">Posted <%= time_ago_in_words(@medium.created_at) %> ago</p>

<article>
	<%= simple_format(@medium.body) %>
</article>

<% if current_user && current_user.id == @medium.blog_item.user_id %>
	<p><%= link_to 'Edit', edit_user_medium_item_path(current_user, @medium) %></p>
<% end %>

<%= link_to "Back", :back %>