<h2><%= @medium.title %></h2>

<p class="meta">posted <%= time_ago_in_words(@medium.created_at) %> ago</p>

<article>
	<%= simple_format(@medium.body) %>
</article>

<p>	
	<% @medium.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{@medium.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<%= render partial: 'shared/tweet', :locals => {item: @medium} %>

<% if current_user && current_user.id == @medium.blog_item.user_id %>
	<p><%= link_to 'Edit', edit_user_medium_item_path(current_user, @medium) %></p>
<% end %>

<%= link_to "Back", :back %>

<h3 class="comments">Comments</h3>

<%= form_for [@medium, Comment.new] do |f| %>
	<% unless current_user %>
	  <%= f.label :author, "Your name" %><br/>
	  <%= f.text_field :author %>
	<% end %>
  <%= f.label :body, "New comment (Markdown supported)" %><br/>
  <%= f.text_area :body, class: "comments-body" %>
  <p><%= f.submit "Add comment", class: "button" %></p>
<% end %>

<%= render partial: 'shared/comment', collection: @medium.blog_item.comments %>