<h2><%= @medium.title %></h2>

<p class="meta">posted <%= time_ago_in_words(@medium.created_at) %> ago</p>

<article>
	<%= simple_format(@medium.body) %>
</article>

<p>	
	<% @medium.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{@medium.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<p><a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @medium.title.blank? ? "Check out " : @medium.title %>" data-size="large" data-count="none" data-hashtags="happyblogging" data-dnt="true">Tweet</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<% if current_user && current_user.id == @medium.blog_item.user_id %>
	<p><%= link_to 'Edit', edit_user_medium_item_path(current_user, @medium) %></p>
<% end %>

<%= link_to "Back", :back %>

<h3>Comments</h3>

<%= form_for [@medium, Comment.new] do |f| %>
  <%= f.label :author, "Your name" %><br/>
  <%= f.text_field :author %>
  <%= f.label :body, "New comment" %><br/>
  <%= f.text_field :body %>
  <p><%= f.submit "Add comment", class: "button" %></p>
<% end %>

<%= render partial: 'shared/comment', collection: @medium.blog_item.comments %>