<h2><%= @user.name %></h2>

<h3>Your profile</h3>

<p><strong>Full name:</strong> <%= @user.name %></p>
<p><strong>Handle:</strong> <%= @user.handle %></p>
<p><strong>Email:</strong> <%= @user.email %></p>

<%= link_to 'Edit profile', edit_user_registration_path %>

<h3>Content</h3>
<%= link_to 'My posts', user_post_items_path(@user.handle) %>

<h3>Your account settings</h3>

<% if @user.flickr_detail %>
	<%= link_to 'Update my Flickr username', edit_user_flickr_detail_path(@user.handle, @user.flickr_detail) %>
<% else %>
	<%= link_to 'Import photos from my Flickr account', new_user_flickr_detail_path(@user.handle) %>
<% end %>

<%= link_to "Back", :back %>