<h2><%= @user.name %></h2>

<h3>Your profile</h3>

<p>Full name: <%= @user.name %></p>
<p>Handle: <%= @user.handle %></p>
<p>Email: <%= @user.email %></p>

<%= link_to 'Edit profile', edit_user_registration_path %>


<h3>Your account settings</h3>

