<h2>Flickr username</h2>
<p>Did you change your username in Flickr? No problem!</p>
<%= form_for @flickr_detail, method: 'put', url: {action: "update"} do |f| %>

	<%= f.label :username %><br />
	<%= f.text_field :username, placeholder: @username %><br />

  <%= f.submit "Update", class: 'button' %>
<% end %>

<p>Don't want to import photos from Flickr anymore?</p>
<%= link_to 'Delete Flickr module', user_flickr_detail_path, method: :delete, data: { confirm: "Are you sure?" }, class: "action-link" %>
