<%= form_for [@post, Comment.new] do |f| %>
  <%= f.label :author, "Your name" %><br/>
  <%= f.text_field :author %>
  <%= f.label :body, "New comment" %><br/>
  <%= f.text_field :body %>
  <p><%= f.submit "Add comment", class: "button" %></p>
<% end %>