<%= form_for [item, Comment.new] do |f| %>
  <% unless current_user %>
	  <%= f.label :author, "Your name" %><br/>
	  <%= f.text_field :author %>
	<% end %>
  <%= f.label :body, "New comment" %><br/>
  <%= f.text_field :body %>
  <p><%= f.submit "Add comment", class: "button" %></p>
<% end %>