<h2>Update post</h2>
<p>Remember you can use <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a>.</p>

<%= form_tag user_post_item_path, method: :put do %>
  <%= label_tag :title %>
  <%= text_field_tag :title, @post.title %>
  <%= label_tag :body %>
  <%= text_area_tag :body, @post.body %>
  <%= label_tag :tags, "Tags (separated by commas)" %>
  <%= text_field_tag :tags, @tags %>
  <%= submit_tag "Update post", class: "button button-primary" %>
<% end %>

<%= link_to 'Delete', user_post_item_path, method: :delete, data: { confirm: "Are you sure?" }, class: "action-link" %>