<h2>Create a new post</h2>
<p>You can use <a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a>.</p>

<%= form_tag(user_post_items_path) do %>
  <%= label_tag(:title) %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:body) %>
  <%= text_area_tag(:body) %>
  <%= label_tag(:tags, "Tags (separated by comma)") %>
  <%= text_field_tag(:tags) %>
  <%= submit_tag("Create post", class: "button") %>
<% end %>