<h1><%= link_to @blog_user.handle, user_index_path(@blog_user.handle) %></h1>
<h2><%= @post.title %></h2>

<p class="meta">posted <%= time_ago_in_words(@post.created_at) %> ago</p>

<article><%= simple_format(md @post.body) %></article>

<p>	
	<% @post.blog_item.tags.each do |tag| %>
		<span class="label"><%= link_to tag.name, "/#{@post.author.handle}?tag=#{tag.name}" %></span>
	<% end %>
</p>

<%= render partial: 'shared/tweet', :locals => {item: @post} %>

<% if current_user && current_user.id == @post.blog_item.user_id %>
	<p><%= link_to 'Edit', edit_user_post_item_path(current_user, @post), class: "action-link" %></p>
<% end %>

<%= link_to "Back", :back %>

<h3 class="comments">Comments</h3>

<%= render partial: 'shared/comment_form', :locals => {item: @post} %>
<%= render partial: 'shared/comment', collection: @post.blog_item.comments %>
