<!DOCTYPE html>
<html>
<head>
  <title>Happyblogging</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="container">
	<nav>
		<ul class="user-nav">
			<% if current_user %>
			<li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
			<li><%= link_to current_user.name, user_path(current_user.handle) %></li>
			<li><%= link_to 'New post', new_user_post_path(current_user.handle) %></li>
			<% else %>
				<li><%= link_to 'Sign up', new_user_registration_path %></li>
				<li><%= link_to 'Sign in', user_session_path %></li>
			<% end %>
		</ul>
		<img class="logo" src=<%= image_path("logo.png") %> alt="Happy blogging logo">
	</nav>
</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<main class="container">
<%= yield %>
</main>

</body>
</html>
