<!DOCTYPE html>
<html>
<head>
	<% if current_user && current_user.styles == "notebook" %>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,700|Pacifico' rel='stylesheet' type='text/css'>
	<% else %>
	<link href='//fonts.googleapis.com/css?family=Lora:400,400italic,700|Ubuntu' rel='stylesheet' type='text/css'>
	<% end %>
  <title>Happyblogging</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% if current_user && current_user.styles == "notebook" %>
  <link rel="stylesheet" media="all" href="/assets/notebook/main.css">
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="container">
	<nav>
		<ul class="user-nav">
			<% if current_user %>
			<li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
			<li><%= link_to current_user.name, user_path(current_user.handle) %></li>
			<li><%= link_to 'New post', new_user_post_item_path(current_user.handle) %></li>
			<% else %>
				<li><%= link_to 'Sign up', new_user_registration_path %></li>
				<li><%= link_to 'Sign in', user_session_path %></li>
			<% end %>
		</ul>
		<% if current_user %>
			<a href="<%= user_index_path(current_user.handle) %>">
		<% else %>	
			<a href="<%= root_path %>">
		<% end %>	
			<img class="logo" src=<%= image_path("logo.png") %> alt="Happy blogging logo">
		</a>
	</nav>
</header>

<main class="container">
<% if notice %>
<p class="message notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="message alert"><%= alert %></p>
<% end %>
<%= yield %>
</main>

</body>
</html>
